@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.nav-bg{
    background-color :rgba(69,130,255,0.8) !important;
}

.top-nav-bg{
    background-color: #d887d0 ;
  
}
.top-nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
}
@media only screen and (max-width:480px){
    .top-nav{
        gap: 1rem;
        flex-direction: column;
    }
}
.top-nav i::before{
    font-size: 1.125rem;
    color: #fff;
}
.top-nav-left, .top-nav-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}
@media only screen and (max-width:480px){
    .top-nav-left, .top-nav-right{
        gap: 0.5rem;
        flex-direction: column;
    }
}
.top-nav-text{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.top-nav-text a{
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
}
.social{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-links{
    line-height: 1;
}
.social-links i::before{
    font-size: 1.125rem;
}
.nav-link{
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 1rem !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
    border: none;
    border-radius: 0;
    padding:.75rem 1rem !important;
}
.dropdown-item{
    font-size: 1rem !important;
    font-weight: 500;
}
.dropdown-item:hover{
    background-color: #fff;
    color: #d887d0;
    font-weight: 600;
}
@keyframes fadeInUp{
    0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
        }
    
        100% {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
}
.carousel-item {

    padding: relative;
    float: left;
    width: 100%;
    height: 32rem;
    margin-top: 50px
    
  }

  .saricizgi{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .onyazi{
    border-radius: 4px;
  }
  .neler-yapıyoruz{
    font-size: 55px;
    font-family:"Open Sans" ;
    letter-spacing: -1.5px;
    font-weight: 700;
    color: #42495b;
    font-family: "Montserrat";
  }

  .paragraf{
    font-size: 16px;
    font-family: "Open Sans";
    color: grey;
    line-height: 30px;
    margin: 0 0 25px;
    margin-bottom: 0;
    max-width: 700px; 
    margin-left: auto;
    margin-right: auto;
  }

  /*Neler Yapıyoruz */

  .card-title{
    color: #4582ff;
    font-size: 19.992px;
    line-height: 1.3;
    margin: 0 0 20px;
    letter-spacing: -.5px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
   /*Neler Yapıyoruz */

  }

  /*Farkımız Nedir */

  
.farkımız-nedir-img img{
  border: 13px solid;
  border-image: linear-gradient(transparent 0%, #d887d0 0% 90%, #d887d0 24% 70%) 0 1 1 0 / 55px;
  height: auto;
  max-width: 90%;
  vertical-align: middle;
}

.farkımız-nedir h2{
    padding-top: 15px;
    font-size: 55px;
    margin-bottom: 25px;
    color: #42495b;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 20px;
    letter-spacing: -1.5px;
}

.farkımız-paragraf{
  font-size: normal;
  font-family: "Open Sans";
  font-size: 14px;
  color: gray;
  margin: 0 0 25px;
  line-height: 2;
  font-weight: 400;
}


.neden-tercih{
  padding-top: 15px;
  font-size: 22px;
  margin-bottom: 15px;
  color: #42495b;
  font-weight: 700;
  line-height:1.25;
  margin: 0 0 20px;
  letter-spacing: -1px;
  max-width: 530px;
  margin: 0 0 25px;
  display: flex;
  justify-items: center;
  text-align: center;
}

.neden-tercih-paragraf{
  font-size: normal;
  font-family: "Open Sans";
  font-size: 14px;
  color: gray;
  margin: 0 0 25px;
  line-height: 26px;
  font-weight: 400;

}
  
  .egitim-kadro-button{
  background-color: #4582ff;
  font-family: "Montserrat",sans-serif;
  display: inline-block;
  transition: all ease .3s;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  padding: 15px 32px;
  font-weight: 700;
  line-height: 1.25;
  padding-left: 30px;
  margin-right: 0px;
  margin-top: 20px;
  
  }

  .egitim-kadro-button a{
    text-decoration: none;
    color: white;
  }
  .egitim-kadro-button a:hover{
    color:#ffb34f;
    transition: 0.2s;
  }
  /* End Farkımız Nedir */


  /* Destek Eğitim Programlarımız */

  .morcizgi{
    text-align: center;
    margin-bottom: 15px;
  }

  .destek-egitim h2{
    text-align: center;
    font-size: 55px;
    color: #42495b;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 20px;
    letter-spacing: -1.5px;
  }

  .destek-egitim-paragraf{
    font-size: normal;
    font-family: "Open Sans";
    font-size: 16px;
    color: gray;
    margin: 0 0 25px;
    line-height: 30px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-bottom: 25px;

  }

  .destek-egitim-img img{
    border-radius: 4px;
    box-shadow: none;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    margin-bottom: 0 ;
    margin-top: 25px;
  }
  
  .destek-egitim-yazi a{
  text-decoration: none;
  transition: all ease .3s;
  font-size: 22px;
  color: #42495b;
  line-height: 26px;
  font-weight: 600;
  margin-right: 0px;
  letter-spacing: -.5px;
  display: block;
  }

  .destek-egitim-yazi a:hover{
  color :#4582ff;
  transition: 0.2s;

  }


  /* END Destek Eğitim Programlarımız */


 

/* sizden gelenler */



.sizdengelen{

    position: relative;
    top: 450px;
    font-size: 50px;
    color: 42495b;
    
}

  .bg-pink{
    background-color: #d887d0;
    width: auto;
    height: 1500px;

  }

  .etkinlik{

    color: white;
    text-align: center;
    position: relative;
    top: 350px;
    font-size: 15px;
    
    
  }

  .detaylıbilgi{
    border-radius: 5px;
    text-shadow: 42495b;
    position: relative;
    top: 600px;
    text-align: center;
   
    
  }

  .custom-button {
    background-color: #0077cc;
    color: #ffffff;
    border: none;
    padding: 15px 50px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    top: 510px;
  }
  
  .TANITIM{
    color: #fff;
  }

  .bilgi-bankası{
    font-size: 36px;
    letter-spacing: -1.5px ;
    color: #42495b;
    font-weight: 700;
    line-height: 1.25;
  }

  .alt-resim{
    display: flex;
    justify-content: space-between;
    position: relative;
  
    
  }

  
  .alt-resim img:hover{
    transform: scale(1) rotate(3deg);
 
  }




.bilgi-bankası-button{

    background-color: #0077cc;
    color: #ffffff;
    border: none;
    padding: 15px 50px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    top: 100px;

}


footer {
    background-color: #151948;
    color: #fff;
    font-size: 16px;
    padding: 90px 70px;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
  }
  
  .contact-info,
  .help-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-info li,
  .help-links li {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .contact-info li i,
  .help-links li a {
    color: #fff;
    font-size: 15px;
   
  }
  
  .contact-info li:last-child,
  .help-links li:last-child {
    margin-bottom: 0;
  }
  
  .help-links a:hover {
    text-decoration: underline;
  }
  
  footer h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  
  footer p {
    margin: 0;
    text-align: center;
  }
  