.nav-bg{
    background-color :rgba(69,130,255,0.8) !important;
}

.üst-nav-bg{
    background-color: #d887d0 ;

}

.carousel-item {

    padding: relative;
    float: left;
    width: 100%;
    height: 32rem;
    margin-top: 50px
    
  }
  
  